<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.emf.refactor.newwizards.category"
            class="org.eclipse.emf.refactor.refactoring.generator.ui.NewRefactoringWizardJava"
            icon="icons/refactoring.png"
            id="org.eclipse.emf.refactor.refactoring.newwizard"
            name="Refactoring (specified in Java)">
      </wizard>
   </extension>

</plugin>
